body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {	
  margin: 0;
  padding: 0;

  font-family: 'Verdana', arial, serif;
}

header {
  margin-bottom:4px;

  line-height:0px;
}

ul {
  list-style-type:none;
}

footer {
  width:100%;

  float:left;
  padding:16px 0px 64px 0px;

  font-size:9px;
  font-weight:normal;
  text-align:center;
  color: #CCCCCC;
}

img {
  max-width: 100%;
}

object {
  pointer-events: none;
}

/*
      #### Classes & IDs ####
*/

.container {
  background-color:#FFFFFF;
  width:776px;
  height: 100%;
  margin:0 auto;
}

.content {	
  width:100%;
}

h1 {
  font-family:Georgia, serif;
  font-size: 30px;
  font-weight:bold; /*bold/lighter*/
  text-align:center;
  line-height:32px;
}

h2 {
  font-family:Georgia, serif;
  font-size: 22px;
  font-weight:lighter;
  text-align:center;
  line-height:25px;
}

h3 {
  font-size: 17px;
  font-weight:lighter;
  line-height:21px;
  color: #FF0000;
}

h4 {
  font-size: 13px;
  font-weight:normal;
  line-height:16px;
  color: #EEEE16;
}

a {
  color: #7070F0;
}

a:hover div.navbutton:hover {
  color: #6060D0;
}

a.navbutton {
  text-decoration: none;
}      

.full {
  width: 99.999%
}

.half {
  width: 49.999%
}

.quarter {
  width: 24.999%
}

.third {
  width: 33.333%
}

.center {
  text-align:center;
}

.box {
  width: 320px;
  padding: 1px;
  border: 5px solid #ff8aa9;
  margin: auto;
  background-color: #ff8bb9;
  border-radius: 25px;
}

.font1 {
  font-family:Georgia, serif;
  font-size: 20px;
  font-weight:bold; /*bold/lighter*/
  text-align:center;
  line-height:32px;
}